<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>🔥tinder</title>
    <meta name="viewport" content= "width=device-width, user-scalable=no">
    <link rel="stylesheet" href="../static/output.css">
    <!-- <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap" rel="stylesheet"> -->
</head>

<body style="background-image: url('../static/bg.jpg');"
    class="overflow-hidden bg-no-repeat bg-center bg-cover bg-fixed w-full">

    <div class="w-screen top-0 left-0 h-full absolute flex -z-10" style="background-color: rgba(0, 0, 0, 0.6);">

    </div>

    <div class="flex absolute w-full place-items-center z-20 justify-between bg-background">
        <h1 class="md:text-[30px] text-[20px] z-20 text-primary font-sharetechmono">
            🔥tinder for reviews
        </h1>

        <button onclick="toggleSettings();" class="text-primary px-4 z-20 font-sharetechmono text-[20px]">
            Settings
        </button>
    </div>

    <!-- a dialog box in the center of the screen -->
    <div id="settings-dialog" class="hidden absolute z-50 rounded-lg border-4 p-8 border-background bg-background w-[80%] md:w-[50%] text-primary font-sharetechmono"  style="top: 50%; left: 50%; transform: translate(-50%, -50%);">
        <div class="w-full text-center">
            <button onclick="undoCard(true)" class="settings">Undo</button>
            <button onclick="jsonExport()" class="settings">Export to JSON</button>
            <button onclick="Logout();" class="settings">Log Out</button>
            <button onclick="toggleSettings();" class="settings">Close</button>
        </div>
    </div>

    <div class="tinder">
        <div class="tinder--cards w-full h-full">

            <!-- <div data-id="abcdef"
                class="tinder--card border-[4px] md:top-[10%] lg:left-[25%] top-[5%] left-[5%] rounded-lg border-background h-[85%] p-8 lg:w-[50%] w-[90%] text-center">
                <div class="w-full h-full flex absolute top-0 left-0 -z-10"
                    style="background-image: url(../static/tinder.jpg); background-position: center; background-repeat: no-repeat; background-attachment:fixed; background-size: cover;">
                </div>

                <div class="w-full h-full flex absolute top-0 left-0 -z-10"
                    style="background-color: rgba(0, 0, 0, 0.8)">
                </div>

                <h1 class="text-[40px] w-full text-center font-bold text-primary font-sharetechmono">
                    This is one of the sample text that will show up as a review.
                </h1>
            </div> -->

        </div>

        <div class="tinder--buttons">
            <button class="bg-accentred" id="nope">{{left}}</button>
            <button class="bg-primary" id="neu">{{up}}</button>
            <button class="bg-accentgreen" id="love">{{right}}</button>
        </div>


    </div>

    <script src="https://hammerjs.github.io/dist/hammer.min.js"></script>
    <script src="../static/output.js"></script>

    <!-- add https://hammerjs.github.io/dist/hammer.min.js -->


</body>

</html>